USE [master]
GO
/****** Object:  Database [公司销售管理系统1]    Script Date: 2023/6/12 18:47:40 ******/
CREATE DATABASE [公司销售管理系统1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'公司销售管理系统1', FILENAME = N'E:\sqlserver\MSSQL16.SQLEXPRESS\MSSQL\DATA\公司销售管理系统1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'公司销售管理系统1_log', FILENAME = N'E:\sqlserver\MSSQL16.SQLEXPRESS\MSSQL\DATA\公司销售管理系统1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [公司销售管理系统1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [公司销售管理系统1]
GO
/****** Object:  User [x]    Script Date: 2023/6/12 18:47:40 ******/
CREATE USER [x] FOR LOGIN [x] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[id] [int] NOT NULL,
	[permission_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[role_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Permission]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NULL,
	[permission_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[产品问题反馈表]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[产品问题反馈表](
	[年份] [float] NULL,
	[月份] [float] NULL,
	[日期] [float] NULL,
	[部门] [nvarchar](255) NULL,
	[产品] [nvarchar](255) NULL,
	[对应制剂] [nvarchar](255) NULL,
	[信息] [nvarchar](255) NULL,
	[解决进度（解决状态）] [nvarchar](255) NULL,
	[对接部门-负责人] [nvarchar](255) NULL,
	[详情] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[订购表]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[订购表](
	[用户账号] [nvarchar](255) NULL,
	[订购辅料] [nvarchar](255) NULL,
	[订购重量] [nvarchar](255) NULL,
	[金额] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[考勤表]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[考勤表](
	[姓名] [nvarchar](255) NULL,
	[出勤次数] [float] NULL,
	[加班次数] [float] NULL,
	[出差次数] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[内贸部台账总表]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[内贸部台账总表](
	[年份] [nvarchar](255) NULL,
	[序号] [float] NULL,
	[下订单日期_20XX#XX] [datetime] NULL,
	[销售日期_20XX#XX] [datetime] NULL,
	[合同编号] [nvarchar](255) NULL,
	[是否回传合同] [nvarchar](255) NULL,
	[区域/部门] [nvarchar](255) NULL,
	[省份] [nvarchar](255) NULL,
	[城市] [nvarchar](255) NULL,
	[年] [float] NULL,
	[月] [float] NULL,
	[行业分类] [nvarchar](255) NULL,
	[产品使用性质] [nvarchar](255) NULL,
	[单位名称] [nvarchar](255) NULL,
	[品名] [nvarchar](255) NULL,
	[型号] [nvarchar](255) NULL,
	[编码] [nvarchar](255) NULL,
	[规格] [nvarchar](255) NULL,
	[数量] [float] NULL,
	[单价（元）] [float] NULL,
	[总金额] [float] NULL,
	[数量1] [float] NULL,
	[单价（元）1] [float] NULL,
	[增加额（借）] [float] NULL,
	[减少额（贷）] [float] NULL,
	[余额] [float] NULL,
	[订单金额] [float] NULL,
	[回款金额] [float] NULL,
	[一次] [nvarchar](255) NULL,
	[新] [nvarchar](255) NULL,
	[二次] [nvarchar](255) NULL,
	[未收款] [float] NULL,
	[收款日期] [nvarchar](255) NULL,
	[老] [nvarchar](255) NULL,
	[业务员] [nvarchar](255) NULL,
	[承兑金额] [nvarchar](255) NULL,
	[现金] [float] NULL,
	[日期] [datetime] NULL,
	[发票号] [nvarchar](255) NULL,
	[发票单号] [nvarchar](255) NULL,
	[销售月份] [nvarchar](255) NULL,
	[客户性质] [nvarchar](255) NULL,
	[物流发运日期] [nvarchar](255) NULL,
	[运单号] [nvarchar](255) NULL,
	[单价低于当期版本价目表_标“低”标识] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[人事档案]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[人事档案](
	[姓名] [nvarchar](255) NULL,
	[性别] [nvarchar](255) NULL,
	[基本工资] [float] NULL,
	[户口] [nvarchar](255) NULL,
	[政治面貌] [nvarchar](255) NULL,
	[健康状况] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[授权书总表]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[授权书总表](
	[开具月份] [float] NULL,
	[品种] [nvarchar](255) NULL,
	[登记号] [nvarchar](255) NULL,
	[登记号状态] [nvarchar](255) NULL,
	[关联制剂厂家] [nvarchar](255) NULL,
	[关联制剂名称] [nvarchar](255) NULL,
	[给药途径] [nvarchar](255) NULL,
	[跟进人] [nvarchar](255) NULL,
	[受审情况] [nvarchar](255) NULL,
	[受理月份] [float] NULL,
	[在审月份] [float] NULL,
	[在审消失月份] [float] NULL,
	[备注] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[外贸部客户档案表]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[外贸部客户档案表](
	[业务员] [nvarchar](255) NULL,
	[分级] [nvarchar](255) NULL,
	[开发日期] [datetime] NULL,
	[公司名称] [nvarchar](255) NULL,
	[国家] [nvarchar](255) NULL,
	[媒介] [nvarchar](255) NULL,
	[产品名称（一品一项目）] [nvarchar](255) NULL,
	[规格编码] [nvarchar](255) NULL,
	[规格编码备注] [nvarchar](255) NULL,
	[用途] [nvarchar](255) NULL,
	[跟进记录（现状简报）] [nvarchar](255) NULL,
	[公司性质] [nvarchar](255) NULL,
	[公司简介（规模，主营产品线）] [nvarchar](255) NULL,
	[联系人] [nvarchar](255) NULL,
	[邮箱] [nvarchar](255) NULL,
	[电话] [nvarchar](255) NULL,
	[官网] [nvarchar](255) NULL,
	[前期洽谈] [datetime] NULL,
	[样品] [nvarchar](255) NULL,
	[问卷] [nvarchar](255) NULL,
	[成交] [nvarchar](255) NULL,
	[供应商审计] [nvarchar](255) NULL,
	[预估年用量] [nvarchar](255) NULL,
	[现用厂家] [nvarchar](255) NULL,
	[级别（药用级/化工级）] [nvarchar](255) NULL,
	[型号_（如有）] [nvarchar](255) NULL,
	[单价_（kg）] [nvarchar](255) NULL,
	[1月] [nvarchar](255) NULL,
	[2月] [nvarchar](255) NULL,
	[3月] [nvarchar](255) NULL,
	[4月] [nvarchar](255) NULL,
	[5月] [nvarchar](255) NULL,
	[6月] [nvarchar](255) NULL,
	[7月] [nvarchar](255) NULL,
	[8月] [nvarchar](255) NULL,
	[9月] [nvarchar](255) NULL,
	[10月] [nvarchar](255) NULL,
	[11月] [nvarchar](255) NULL,
	[12月] [nvarchar](255) NULL,
	[F40] [nvarchar](255) NULL,
	[F41] [nvarchar](255) NULL,
	[F42] [nvarchar](255) NULL,
	[F43] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[外贸部台账总表]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[外贸部台账总表](
	[序号] [float] NULL,
	[年份] [nvarchar](255) NULL,
	[下订单日期_20XX#XX] [datetime] NULL,
	[销售日期_20XX#XX] [datetime] NULL,
	[合同编号] [nvarchar](255) NULL,
	[是否报关] [nvarchar](255) NULL,
	[其他] [nvarchar](255) NULL,
	[国家/省份] [nvarchar](255) NULL,
	[性质] [nvarchar](255) NULL,
	[年] [nvarchar](255) NULL,
	[月] [nvarchar](255) NULL,
	[单位名称] [nvarchar](255) NULL,
	[品名] [nvarchar](255) NULL,
	[型号] [nvarchar](255) NULL,
	[编码] [nvarchar](255) NULL,
	[规格] [nvarchar](255) NULL,
	[数量] [float] NULL,
	[单价USD] [float] NULL,
	[单价人民币] [float] NULL,
	[总额USD] [float] NULL,
	[总额人民币] [float] NULL,
	[数量1] [float] NULL,
	[单价USD1] [float] NULL,
	[单价人民币1] [float] NULL,
	[总额（借）USD] [float] NULL,
	[总额（借）人民币] [float] NULL,
	[总额（贷）USD] [float] NULL,
	[总额（贷）人民币] [float] NULL,
	[余额USD] [float] NULL,
	[余额人民币] [float] NULL,
	[订单金额USD] [float] NULL,
	[订单金额人民币] [float] NULL,
	[回款金额USD] [float] NULL,
	[回款金额人民币] [float] NULL,
	[一次] [float] NULL,
	[客户类型] [nvarchar](255) NULL,
	[未收款USD] [float] NULL,
	[未收款人民币] [float] NULL,
	[业务员] [nvarchar](255) NULL,
	[USD] [float] NULL,
	[人民币] [float] NULL,
	[日期] [datetime] NULL,
	[发票号] [nvarchar](255) NULL,
	[发票单号] [nvarchar](255) NULL,
	[销售月份] [nvarchar](255) NULL,
	[国际运费（RMB)] [float] NULL,
	[国际运费（USD)] [nvarchar](255) NULL,
	[港杂费] [float] NULL,
	[合计] [float] NULL,
	[物流发运时间] [datetime] NULL,
	[运单号] [nvarchar](255) NULL,
	[单价低于当期版本价目表_标“低”标识] [nvarchar](255) NULL,
	[退税额] [float] NULL,
	[汇率] [float] NULL,
	[F55] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[新品研发项目]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[新品研发项目](
	[状态] [nvarchar](255) NULL,
	[序号] [float] NULL,
	[企业名称] [nvarchar](255) NULL,
	[省份] [nvarchar](255) NULL,
	[城市] [nvarchar](255) NULL,
	[部门] [nvarchar](255) NULL,
	[具体部门] [nvarchar](255) NULL,
	[负责人] [nvarchar](255) NULL,
	[客户名称] [nvarchar](255) NULL,
	[客户来源（自主开发、网络、老客户二开）] [nvarchar](255) NULL,
	[产品（一品一项目）] [nvarchar](255) NULL,
	[规格编码] [nvarchar](255) NULL,
	[特殊需求] [nvarchar](255) NULL,
	[申样/销售] [nvarchar](255) NULL,
	[是否重复项目] [nvarchar](255) NULL,
	[初次报价] [nvarchar](255) NULL,
	[数量] [nvarchar](255) NULL,
	[单价] [nvarchar](255) NULL,
	[金额] [nvarchar](255) NULL,
	[制剂名称] [nvarchar](255) NULL,
	[是否一致性评价品种] [nvarchar](255) NULL,
	[辅料用途] [nvarchar](255) NULL,
	[处方用量] [nvarchar](255) NULL,
	[年] [float] NULL,
	[月] [float] NULL,
	[日] [float] NULL,
	[客户重要程度（A、B、C、D）] [nvarchar](255) NULL,
	[辅料检验] [datetime] NULL,
	[处方筛选] [datetime] NULL,
	[初步验证工艺（小试）] [datetime] NULL,
	[中试验证] [datetime] NULL,
	[工艺验证] [nvarchar](255) NULL,
	[临床] [nvarchar](255) NULL,
	[拿到批文] [nvarchar](255) NULL,
	[正常采购] [nvarchar](255) NULL,
	[是否回复] [nvarchar](255) NULL,
	[进行中] [nvarchar](255) NULL,
	[备注（现状简报）] [nvarchar](255) NULL,
	[中试前] [nvarchar](255) NULL,
	[申报前] [nvarchar](255) NULL,
	[开具时间] [nvarchar](255) NULL,
	[落地企业名称] [nvarchar](255) NULL,
	[联系人] [nvarchar](255) NULL,
	[移交销售经理] [nvarchar](255) NULL,
	[移交时间] [nvarchar](255) NULL,
	[1月] [nvarchar](255) NULL,
	[2月] [nvarchar](255) NULL,
	[3月] [nvarchar](255) NULL,
	[4月] [nvarchar](255) NULL,
	[5月] [nvarchar](255) NULL,
	[6月] [nvarchar](255) NULL,
	[7月] [nvarchar](255) NULL,
	[8月] [nvarchar](255) NULL,
	[9月] [nvarchar](255) NULL,
	[10月] [nvarchar](255) NULL,
	[11月] [nvarchar](255) NULL,
	[12月] [nvarchar](255) NULL,
	[1月1] [nvarchar](255) NULL,
	[2月1] [nvarchar](255) NULL,
	[3月1] [nvarchar](255) NULL,
	[4月1] [nvarchar](255) NULL,
	[5月1] [nvarchar](255) NULL,
	[6月1] [nvarchar](255) NULL,
	[7月1] [nvarchar](255) NULL,
	[8月1] [nvarchar](255) NULL,
	[9月1] [nvarchar](255) NULL,
	[10月1] [nvarchar](255) NULL,
	[11月1] [nvarchar](255) NULL,
	[12月1] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[研部客户对接表]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[研部客户对接表](
	[记录人] [nvarchar](255) NULL,
	[主动/被动对接] [nvarchar](255) NULL,
	[企业名称] [nvarchar](255) NULL,
	[企业分类] [nvarchar](255) NULL,
	[客户姓名] [nvarchar](255) NULL,
	[客户分类] [nvarchar](255) NULL,
	[产品咨询] [float] NULL,
	[价格咨询] [nvarchar](255) NULL,
	[申样] [float] NULL,
	[采购] [nvarchar](255) NULL,
	[电子资料提供] [float] NULL,
	[纸质资料准备] [nvarchar](255) NULL,
	[申样追踪] [nvarchar](255) NULL,
	[使用咨询/问题咨询] [float] NULL,
	[产品名称] [nvarchar](255) NULL,
	[规格编码] [nvarchar](255) NULL,
	[重量] [nvarchar](255) NULL,
	[制剂/制剂大类] [nvarchar](255) NULL,
	[问题] [nvarchar](255) NULL,
	[是否解决] [nvarchar](255) NULL,
	[解决方案] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[研部客户流水表]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[研部客户流水表](
	[销售部] [nvarchar](255) NULL,
	[省份] [nvarchar](255) NULL,
	[城市] [nvarchar](255) NULL,
	[企业名] [nvarchar](255) NULL,
	[企业性质（药企/研发A/研发B/高校/医疗器械/兽药等）] [nvarchar](255) NULL,
	[企业规模（ABC）] [nvarchar](255) NULL,
	[公司地址] [nvarchar](255) NULL,
	[客户姓名] [nvarchar](255) NULL,
	[电话] [float] NULL,
	[标签（研发/采购）] [nvarchar](255) NULL,
	[部门] [nvarchar](255) NULL,
	[职位] [nvarchar](255) NULL,
	[职级评估（ABC）] [nvarchar](255) NULL,
	[是否申样/采购（历史] [nvarchar](255) NULL,
	[联系紧密程度（123）] [float] NULL,
	[联系人] [nvarchar](255) NULL,
	[是否重叠] [nvarchar](255) NULL,
	[联系方式] [nvarchar](255) NULL,
	[初始联系时间] [nvarchar](255) NULL,
	[首次宣传资料] [nvarchar](255) NULL,
	[2021夏季风扇礼] [float] NULL,
	[2021注射剂书籍] [nvarchar](255) NULL,
	[2021年终礼寄送] [float] NULL,
	[2022夏季礼] [float] NULL,
	[2022书籍] [float] NULL,
	[2022大客户礼] [float] NULL,
	[2022年终礼] [float] NULL,
	[曾就职单位] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[研发_客户信息]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[研发_客户信息](
	[企业名称] [nvarchar](255) NULL,
	[姓名] [nvarchar](255) NULL,
	[手机] [float] NULL,
	[部门] [nvarchar](255) NULL,
	[职级评估_（ABC）] [nvarchar](255) NULL,
	[初始联系时间] [datetime] NULL,
	[地址] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[研发_销售数据]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[研发_销售数据](
	[企业名称] [nvarchar](255) NULL,
	[时间] [datetime] NULL,
	[产品] [nvarchar](255) NULL,
	[规格] [nvarchar](255) NULL,
	[单价（元）] [float] NULL,
	[数量（Kg）] [float] NULL,
	[金额] [float] NULL,
	[用途] [nvarchar](255) NULL,
	[进展] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[研发_赠样记录]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[研发_赠样记录](
	[企业名称] [nvarchar](255) NULL,
	[时　　间] [datetime] NULL,
	[产　品] [nvarchar](255) NULL,
	[型号] [nvarchar](255) NULL,
	[数量（ｇ）] [nvarchar](255) NULL,
	[用途] [nvarchar](255) NULL,
	[进展] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[研发客户档案]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[研发客户档案](
	[销售部] [nvarchar](255) NULL,
	[省　份] [nvarchar](255) NULL,
	[研发实力] [nvarchar](255) NULL,
	[企业名称] [nvarchar](255) NULL,
	[法人] [nvarchar](255) NULL,
	[总经理] [nvarchar](255) NULL,
	[许可证号] [nvarchar](255) NULL,
	[ＧＭＰ证书] [nvarchar](255) NULL,
	[企业性质] [nvarchar](255) NULL,
	[研究范围] [nvarchar](255) NULL,
	[经营规模] [nvarchar](255) NULL,
	[员工人数] [nvarchar](255) NULL,
	[企业地址] [nvarchar](255) NULL,
	[其他描述] [nvarchar](255) NULL,
	[电话销售＼拜访记录（情况描述）] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[药用辅料产品规格编码表]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[药用辅料产品规格编码表](
	[类别] [nvarchar](255) NULL,
	[品名] [nvarchar](255) NULL,
	[规格] [nvarchar](255) NULL,
	[规格特点] [nvarchar](255) NULL,
	[要求] [nvarchar](255) NULL,
	[标签右上角体现] [float] NULL,
	[销售部编码] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[已有制剂的供应商变更]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[已有制剂的供应商变更](
	[开发状态] [nvarchar](255) NULL,
	[序号] [float] NULL,
	[企业名称] [nvarchar](255) NULL,
	[省份] [nvarchar](255) NULL,
	[城市] [nvarchar](255) NULL,
	[部门] [nvarchar](255) NULL,
	[具体部门] [nvarchar](255) NULL,
	[负责人] [nvarchar](255) NULL,
	[客户名称] [nvarchar](255) NULL,
	[客户来源（自主开发、网络、老客户二开）] [nvarchar](255) NULL,
	[产品（一品一项目）] [nvarchar](255) NULL,
	[对应规格编码] [nvarchar](255) NULL,
	[特殊需求] [nvarchar](255) NULL,
	[预估年用量] [float] NULL,
	[现用厂家] [nvarchar](255) NULL,
	[级别（药用级/化工级）] [nvarchar](255) NULL,
	[型号_（如有）] [nvarchar](255) NULL,
	[单价_（kg）] [float] NULL,
	[申样/销售] [nvarchar](255) NULL,
	[是否重复项目] [nvarchar](255) NULL,
	[初次报价] [nvarchar](255) NULL,
	[数量] [nvarchar](255) NULL,
	[单价] [nvarchar](255) NULL,
	[金额] [nvarchar](255) NULL,
	[制剂名称] [nvarchar](255) NULL,
	[是否一致性评价品种] [nvarchar](255) NULL,
	[辅料用途] [nvarchar](255) NULL,
	[处方用量] [nvarchar](255) NULL,
	[年] [float] NULL,
	[月] [float] NULL,
	[日] [float] NULL,
	[客户重要程度（A、B、C、D）] [nvarchar](255) NULL,
	[前期洽谈] [datetime] NULL,
	[提出供应商变更申请] [datetime] NULL,
	[供应商审计] [datetime] NULL,
	[连续3批辅料小样检测] [datetime] NULL,
	[首次生产3批] [nvarchar](255) NULL,
	[稳定性考察] [datetime] NULL,
	[补充申请备案完成变更] [nvarchar](255) NULL,
	[正式合同签订] [nvarchar](255) NULL,
	[发货] [nvarchar](255) NULL,
	[进行中] [nvarchar](255) NULL,
	[备注（现状简报）] [nvarchar](255) NULL,
	[中试前] [nvarchar](255) NULL,
	[申报前] [nvarchar](255) NULL,
	[开具时间] [nvarchar](255) NULL,
	[落地企业名称] [nvarchar](255) NULL,
	[联系人] [nvarchar](255) NULL,
	[移交销售经理] [nvarchar](255) NULL,
	[移交时间] [nvarchar](255) NULL,
	[1月] [nvarchar](255) NULL,
	[2月] [nvarchar](255) NULL,
	[3月] [nvarchar](255) NULL,
	[4月] [nvarchar](255) NULL,
	[5月] [nvarchar](255) NULL,
	[6月] [nvarchar](255) NULL,
	[7月] [nvarchar](255) NULL,
	[8月] [nvarchar](255) NULL,
	[9月] [nvarchar](255) NULL,
	[10月] [nvarchar](255) NULL,
	[11月] [nvarchar](255) NULL,
	[12月] [nvarchar](255) NULL,
	[1月1] [nvarchar](255) NULL,
	[2月1] [nvarchar](255) NULL,
	[3月1] [nvarchar](255) NULL,
	[4月1] [nvarchar](255) NULL,
	[5月1] [nvarchar](255) NULL,
	[6月1] [nvarchar](255) NULL,
	[7月1] [nvarchar](255) NULL,
	[8月1] [nvarchar](255) NULL,
	[9月1] [nvarchar](255) NULL,
	[10月1] [nvarchar](255) NULL,
	[11月1] [nvarchar](255) NULL,
	[12月1] [nvarchar](255) NULL,
	[F75] [nvarchar](255) NULL,
	[F76] [nvarchar](255) NULL,
	[F77] [nvarchar](255) NULL,
	[F78] [nvarchar](255) NULL,
	[F79] [nvarchar](255) NULL,
	[F80] [nvarchar](255) NULL,
	[F81] [nvarchar](255) NULL,
	[F82] [nvarchar](255) NULL,
	[F83] [nvarchar](255) NULL,
	[F84] [nvarchar](255) NULL,
	[F85] [nvarchar](255) NULL,
	[F86] [nvarchar](255) NULL,
	[F87] [nvarchar](255) NULL,
	[F88] [nvarchar](255) NULL,
	[F89] [nvarchar](255) NULL,
	[F90] [nvarchar](255) NULL,
	[F91] [nvarchar](255) NULL,
	[F92] [nvarchar](255) NULL,
	[F93] [nvarchar](255) NULL,
	[F94] [nvarchar](255) NULL,
	[F95] [nvarchar](255) NULL,
	[F96] [nvarchar](255) NULL,
	[F97] [nvarchar](255) NULL,
	[F98] [nvarchar](255) NULL,
	[F99] [nvarchar](255) NULL,
	[F100] [nvarchar](255) NULL,
	[F101] [nvarchar](255) NULL,
	[F102] [nvarchar](255) NULL,
	[F103] [nvarchar](255) NULL,
	[F104] [nvarchar](255) NULL,
	[F105] [nvarchar](255) NULL,
	[F106] [nvarchar](255) NULL,
	[F107] [nvarchar](255) NULL,
	[F108] [nvarchar](255) NULL,
	[F109] [nvarchar](255) NULL,
	[F110] [nvarchar](255) NULL,
	[F111] [nvarchar](255) NULL,
	[F112] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[员工信息表]    Script Date: 2023/6/12 18:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[员工信息表](
	[序号] [float] NULL,
	[部门] [nvarchar](255) NULL,
	[姓名] [nvarchar](255) NULL,
	[性别] [nvarchar](255) NULL,
	[职  位] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL,
	[工号] [nvarchar](255) NULL,
	[状态] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User_Permission]  WITH CHECK ADD FOREIGN KEY([permission_id])
REFERENCES [dbo].[Permission] ([id])
GO
ALTER TABLE [dbo].[User_Permission]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
GO
USE [master]
GO
